@{
	ViewData["Title"] = "Página de Apresentação";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-3">
			<div class="card shadow">
				<div class="card-body text-center">
					<img src="~/img/HillaryFoto.jpeg" class="card-img-top" />
					<h4 class="card-title">Hillary De Andrade Cacheiro</h4>
					<p class="card-text">Estudante do Sesi e Aluna do curso de Dev (Desenvolvimento de Sistemas) do SENAI.</p>
					<div>
						<a href="https://github.com/Hillarycacheiro" target="_blank" class="btn btn-outline-dark me-2">
							<i class="bi bi-github"></i> GitHub
						</a>
						<a href="https://Instagram.com/in/Acach_eiroo" target="_blank" class="btn btn-outline-primary">
							<i class="bi bi-instagram"></i> Instagram
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>